[submodule "tempo-operator"]
	path = tempo-operator
	url = https://github.com/grafana/tempo-operator.git
[submodule "tempo"]
	path = tempo
	url = https://github.com/grafana/tempo.git
[submodule "api"]
	path = api
	url = https://github.com/observatorium/api.git
[submodule "opa-openshift"]
	path = opa-openshift
	url = https://github.com/observatorium/opa-openshift.git
[submodule "jaeger"]
	path = jaeger
	url = https://github.com/jaegertracing/jaeger.git
